$color-white: #ffffff;
$color-black: #000000;
$color-border: #E5E8ED;

$text-main: #1E212C;
$text-sub: #9A9CA5;
$text-card: #787A80;
$text-load: #424551;
$text-red: #FF4242;
$text-red-dark: darken($text-red, 20%);

$category-green: #03CEA4;
$category-blue: #5A87FC;
$category-orange: #F89828;
$category-pink: #F52F6E;
$category-purple: #7772F1;

$border: #D7DADD;

$ff-lato: "Lato", "Arial", sans-serif;

$vp-tablet: 1023px;
$vp-mobile: 767px;

$transition: ease-in 0.2s;