.courses {
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    gap: 30px;
    margin-bottom: 80px;

    @media (max-width: 420px) {
      grid-template-columns: 1fr; // Одна колонка
      gap: 12px;
      margin-bottom: 30px;
    }
  }

  &__card {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid $color-border;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.08),
      0px 6px 12px rgba(0, 0, 0, 0.06), 0px 8px 16px rgba(0, 0, 0, 0.04);
    cursor: pointer;
    transform: translateY(0);
    transition: transform $transition;

    &:hover {
      transform: translateY(-8px);
    }
  }

  &__card-image {
    width: 100%;
    object-fit: cover;
  }

  &__card-info {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 25px;
    gap: 23px;
  }

  &__card-category {
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    align-self: flex-start;
    display: inline-block;

    &.category-marketing {
      background-color: $category-green;
    }

    &.category-management {
      background-color: $category-blue;
    }

    &.category-hr-recruiting {
      background-color: $category-orange;
    }

    &.category-design {
      background-color: $category-pink;
    }

    &.category-development {
      background-color: $category-purple;
    }
  }

  &__card-title {
    color: $text-main;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
  }

  &__card-bottom {
    display: flex;
    gap: 5px;
    font-size: 18px;
  }

  &__card-price {
    font-weight: 700;
    padding-right: 5px;
    border-right: solid 1px $text-card;
    color: $text-red;
  }

  &__card-by {
    color: $text-card;
    font-weight: 400;
  }

  &__card-author {
    color: $text-card;
    font-weight: 400;
  }

  &__empty {
    display: none;
  }
}
