.courses {
  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 43px;
    padding: 50px 0 44px 0;

    @media (max-width: 420px) {
      align-items: start;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__subtitle {
    font-weight: 900;
    font-size: 46px;
    margin: 0;
  }
}
