.courses {
  &__load-more {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin-bottom: 86px;
    cursor: pointer;
  }

  &__load-more-btn {
    color: $text-load;
    background-color: none;
    border: none;
    font-weight: 700;
    font-size: 16px;
  }
}
